{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="contenedor-grid">
    <div class="contenedor_registro">
        <h1>Restablecer Contraseña</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>¿Ha olvidado su contraseña? Introduzca su correo electrónico y le enviaremos un correo que le permitirá restablecerla.</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>Si tiene alguna dificultad para restablecer su contraseña, por favor contáctenos.</p>
    </div>
</div>
{% endblock %}
