{% load static %}
<section class="footer">
    <div class="contenedor-footer">
        <img src="{% static 'image/bacanallogo3.svg' %}" alt="" class="logo">
        <div class="contenedor-redes">
            <img src="{% static 'image/gmail.svg' %}" alt="">
            <img src="{% static 'image/instagram.svg' %}" alt="">
            <img src="{% static 'image/twitter.svg' %}" alt="">
        </div>
        <div class="contenedor-info">
            <a href="#">Sobre nosotros</a>
            <a href="#">Politica y privacidad</a>
            <a href="#">Contactanos</a>
        </div>
        <p>Copyright &#169 Bacanal</p>
    </div>
</section>